<div class="card">
  
  <h2>Adicione seu imóvel!</h2>
  <form (ngSubmit)="cadastrarImovel()">

    <label>Imagens:</label>
    <input type="file" (change)="onFileChange($event)" multiple><br><br>

    <div *ngIf="previewImages.length > 0">
      <h3>Pré-visualização:</h3>
      <div *ngFor="let imagem of previewImages">
        <img [src]="imagem" style="max-width: 200px; max-height: 200px;">
      </div>
    </div>

    <label>Título:</label>
    <input type="text" [(ngModel)]="imovel.titulo" name="titulo"><br><br>

    <label>Cidade:</label>
    <input type="text" [(ngModel)]="imovel.cidade" name="cidade"><br><br>

    <label>Estado:</label>
    <input type="text" [(ngModel)]="imovel.estado" name="estado"><br><br>

    <label>Valor (R$):</label>
    <input 
      type="text" 
      [ngModel]="imovel.valor | currency:'BRL':true" 
      (input)="onValorChange($event)" 
      name="valor" 
      placeholder="R$ 0,00"><br><br>

  

    <button type="submit">Cadastrar</button>
  </form>

  <div *ngIf="cadastroSucesso" class="success-message">
    Imóvel cadastrado com sucesso!
  </div>


</div>