<div class="search-bar">
  <label for="searchInput">Pesquisar Imóvel:</label>
  <input type="text" id="searchInput" [(ngModel)]="searchTerm" (input)="filterImoveis()">
</div>

<div class="imoveis-container">
  <a *ngFor="let imovel of filteredImoveis" class="imovel-card" [routerLink]="['/imovel', imovel.id]">
    <h3>{{ imovel.titulo }}</h3>
    <div *ngIf="imovel.imagens && imovel.imagens.length > 0">
      <img [src]="imovel.imagens[0]" style="max-width: 100px; max-height: 100px;" alt="Imagem do imóvel">
    </div>
    <p>Valor: {{ imovel.valor | currency:'BRL':true }}</p>
    <p>Mostrar detalhes do imóvel</p>

  </a>
  
  <div *ngIf="filteredImoveis.length === 0 && searchTerm">
    <p>Nenhum imóvel encontrado para "{{ searchTerm }}".</p>
  </div>
</div>
