.search-bar {
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.search-bar:hover {
    background-color: #f0f0f0; 
}

.search-bar label {
    font-weight: 500;
    font-weight: bold;
    color: #3f72af; 
    margin-right: 10px;
    font-size: 1em;
}

.search-bar-input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 8px 10px;
    border: 1px solid #d3e6d3; 
    border-radius: 5px;
    font-size: 1em;
    color: #4a4a4a;
    outline: none;
    background-color: #fdfdfd; 
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.search-bar input[type="text"]::placeholder {
    color: #a8bfa8; 
}

.search-bar input[type="text"]:focus {
    border: 1px solid #3f72af; 
    box-shadow: 0 0 5px rgba(63, 114, 175, 0.4); 
}

.search-icon {
    padding: 8px;
    color: #3f72af; 
    cursor: pointer;
}

.search-icon svg {
    width: 20px;
    height: 20px;
    fill: #3f72af; 
}

.imoveis-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
}


.imoveis-container a.imovel-card {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex; /* Adicionado para usar flexbox */
    flex-direction: column; /* Mantém os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-decoration: none;
    color: inherit;
    text-align: center; /* Centraliza o texto dentro do link */
    font-weight: bold;
}


.imoveis-container a.imovel-card:hover {
    background-color: #3f72af; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imoveis-container a.imovel-card:hover h3,
.imoveis-container a.imovel-card:hover p {
    color: #fff; 
}

.imoveis-container a.imovel-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #3f72af; 
}

.imoveis-container a.imovel-card > div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px; 
    min-height: 150px; 
}

.imoveis-container a.imovel-card img {
    width: 100%; 
    height: auto; 
    border: 1px solid #eee;
    border-radius: 4px;
    object-fit: contain; 
}

.imoveis-container a.imovel-card:hover img {
    border-color: #ddd;
}

.imoveis-container a.imovel-card p {
    margin-bottom: 5px;
    color: #555;
}

.imoveis-container > div { 
    color: #777;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

@media (max-width: 992px) {
    .imoveis-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .imoveis-container {
        grid-template-columns: 1fr; 
    }
}
